
body{
   position: relative;
   box-sizing: border-box;
}
.cor_texto_slide{
    color: black;

}

.navbar_nome{
    margin-left: 2mm

}

.colunas_do_container{
    margin-top: 2%;
    margin-left: 0%;

}

.coluna_do_container_meio{
    margin-top: 8%;
    
}